body{
    background-color: rgb(214, 214, 214);
}

.box-wrap{
    display:flex;
    flex-wrap: wrap-reverse;
    background-color: rgb(189, 189, 189);
}

.box1 {
    border: 10px rgb(73, 14, 150) solid;
    opacity: 0.3;
    background-color: rgb(21, 255, 0);
    width: 300px;
    height: 300px;
    transition: 0.3s ease-in-out;
}
.box1:hover{
    border: 10px rgb(73, 14, 150) solid;
    width: 300px;
    height: 300px;
    background-color: brown;
    opacity: 1;
    transition: 0.3s ease-in-out;
    transform: translateY(15px);
}
.chemi_yuti {
    background-color:  green;
}
.box2 {
    border: 10px rgb(247, 14, 14) solid;
    background-color: rgb(16, 203, 209);
    width: 300px;
    height: 300px;
}
.box-padding{
    margin: 0px;
}
.box-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle {
    border-radius: 20px;
    background-color: blue;
    width: 20px;
    height: 20px;
}
